In [33]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
%matplotlib inline

In [2]:
df = pd.read_csv('energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
df = df.drop(['date', 'lights'], axis = 1)
df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
# Normalize the dataset to a common scale using the min max scaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)
normalised_df

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.327350,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.327350,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.327350,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.327350,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.327350,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,0.084112,0.926786,0.537657,0.711655,0.606309,0.830841,0.579374,0.864865,0.765258,0.752031,...,0.864724,0.729443,0.891747,0.602326,0.416667,0.238095,0.348718,0.901961,0.861981,0.861981
19731,0.074766,0.919747,0.536006,0.701769,0.607836,0.825302,0.582178,0.864865,0.765258,0.754897,...,0.864724,0.729443,0.887460,0.602326,0.421053,0.250000,0.361538,0.900452,0.985726,0.985726
19732,0.242991,0.919747,0.538666,0.692651,0.627198,0.818378,0.603988,0.864865,0.771233,0.754897,...,0.864724,0.729443,0.883173,0.602326,0.425439,0.261905,0.374359,0.898944,0.583979,0.583979
19733,0.383178,0.919747,0.549491,0.677054,0.634717,0.805085,0.585294,0.864865,0.773794,0.752031,...,0.864724,0.730581,0.878885,0.602326,0.429825,0.273810,0.387179,0.897436,0.126371,0.126371
19734,0.392523,0.919747,0.538758,0.666171,0.632902,0.799546,0.579062,0.864865,0.781192,0.752031,...,0.864724,0.731719,0.874598,0.602326,0.434211,0.285714,0.400000,0.895928,0.682391,0.682391

In [20]:
# separate the dataset into attributes and targets, that is the X and y variables for prediction

X = normalised_df.drop(['Appliances'], axis = 1)
y = normalised_df['Appliances']

In [25]:
#split the dataset for training and testing using train_test_split 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

print(f'X_train shape = {X_train.shape}')
print(f'y_train shape = {y_train.shape}')
print(f'X_test shape = {X_test.shape}')
print(f'y_test shape = {y_test.shape}')

X_train shape = (13814, 26)
y_train shape = (13814,)
X_test shape = (5921, 26)
y_test shape = (5921,)

In [7]:
# select a sample of the dataset
reg_df = normalised_df[['T2', 'T6']]
reg_df.head()

         T2        T6
0  0.225345  0.381070
1  0.225345  0.375443
2  0.225345  0.367487
3  0.225345  0.363800
4  0.225345  0.361859

In [8]:
# we need to reshape the x variable because we have only one predictor here
x1 = reg_df['T2'].values.reshape(-1, 1)
y1 = reg_df['T6'].values.reshape(-1, 1)
x1_train, x1_test, y1_train, y1_test = train_test_split(x1, y1, test_size = 0.3, random_state = 42)


linear_model = LinearRegression()
linear_model.fit(x1_train, y1_train)
y1_pred = linear_model.predict(x1_test)


r2 = r2_score(y1_test, y1_pred)
print('R-Squared: {}'.format(round(r2, 3)))

R-Squared: 0.643

In [39]:

reg = LinearRegression()
reg.fit(X_train, y_train)
y_pred = reg.predict(X_test)
train_score = reg.score(X_train, y_train)
test_score = reg.score(X_test, y_test)
print(f"Training score = {round(train_score,3)}")
print(f"Testing score = {round(test_score, 3)}")

Training score = 0.145
Testing score = 0.149

In [41]:

mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Absolute Error = {round(mae, 2)}')

Mean Absolute Error = 0.05

In [42]:
## Residual Sum of Squares(RSS)

rss = np.sum(np.square(y_test - y_pred))
print(f'Residual Sum of Squares = {round(rss, 2)}')

Residual Sum of Squares = 45.35

In [43]:
## Root Mean Squared Error(RMSE)

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print(f'Root Mean Squared Error = {round(rmse, 3)}')

Root Mean Squared Error = 0.088

In [44]:
# R_Squared (coefficient of determination)

r_squared = r2_score(y_test, y_pred)
print(f'R_Squared: {round(r_squared, 2)}')

R_Squared: 0.15

In [14]:
#to check the weights of the features using linear regression

def weights(model, feat, col_name):
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [15]:
linear_reg_weights = weights(reg, X_train, 'Linear_model_Weight')
linear_reg_weights

       Features  Linear_model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv2             0.000770
11          rv1             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

# Ridge Regression

In [49]:
# ridge regression at alpha = 0.4

ridge = Ridge(alpha = 0.4)
ridge.fit(X_train, y_train)

# predictions
ridge_pred = ridge.predict(X_test)
train_score = ridge.score(X_train, y_train)
test_score = ridge.score(X_test, y_test)
print(f"Training score of ridge regression model is {round(train_score, 3)}")
print(f"Testing score of ridge regression model is {round(test_score, 3)}")

Training score of ridge regression model is 0.145
Testing score of ridge regression model is 0.149

In [46]:
## Root Mean Squared Error(RMSE) for ridge model

mse = mean_squared_error(y_test, ridge_pred)
rmse = np.sqrt(mse)
print(f'Root Mean Squared Error for ridge model: {round(rmse, 3)}')

Root Mean Squared Error for ridge model: 0.088

# Lasso Regression

In [54]:
## lasso model at alpha = 0.001

lasso_reg = Lasso(alpha = 0.001)
lasso_reg.fit(X_train, y_train)
lasso_reg_pred = lasso_reg.predict(X_test)
train_score = lasso_reg.score(X_train, y_train)
test_score = lasso_reg.score(X_test, y_test)
print(f"Training score of lasso regression model is {round(train_score)}")
print(f"Testing score of lasso regression model is {round(test_score)}")
print(f"Number of features for training: {round(np.sum(lasso_reg.coef_ != 0), 3)}")

Training score of lasso regression model is 0
Testing score of lasso regression model is 0
Number of features for training: 4

In [50]:
## Root Mean Squared Error(RMSE) for lasso model

mse = mean_squared_error(y_test, lasso_reg_pred)
rmse = np.sqrt(mse)
print(f'Root Mean Squared Error for Lasso model: {round(rmse, 3)}')

Root Mean Squared Error for Lasso model: 0.094